language: go

sudo: true
addons:
  hosts:
    - example.letsencrypt.org
    - elpmaxe.letsencrypt.org

go:
  - "1.11.x"

env:
  - GO111MODULE=on

services:
  - docker

before_install:
  - git checkout -b no-keyauthorization https://github.com/certbot/certbot
  - cd certbot
  - ./certbot-auto --os-packages-only -n
  - ./tools/venv.py
  - . venv/bin/activate
  - cd -

# Override the base install phase so that the project can be installed using
# `-mod=vendor` to use the vendored dependencies
install:
  - go install -v -mod=vendor ./...

before_script:
  - pebble &
  # Wait for pebble to come up
  - until </dev/tcp/localhost/14000 ; do sleep 0.1 ; done

script:
  - go vet ./...
  - REQUESTS_CA_BUNDLE=./test/certs/pebble.minica.pem python ./test/chisel2.py example.letsencrypt.org elpmaxe.letsencrypt.org

deploy:
  - provider: script
    script: bash .travis/publish.sh
    skip_cleanup: true
    on:
      repo: letsencrypt/pebble
      tags: true
