language: go

sudo: true
addons:
  hosts:
    - example.letsencrypt.org
    - elpmaxe.letsencrypt.org

go:
  - 1.8

before_install:
  # The acme-v2 branch of certbot has some tweaks required for using chisel2
  # that haven't landed in master yet.
  - git clone -b acme-v2 https://github.com/certbot/certbot
  - cd certbot
  - ./certbot-auto --os-packages-only -n
  - ./tools/venv.sh
  - . venv/bin/activate
  - cd -

before_script:
  - pebble &
  # Wait for pebble to come up
  - until </dev/tcp/localhost/14000 ; do sleep 0.1 ; done

script:
  - REQUESTS_CA_BUNDLE=./test/certs/pebble.minica.pem ./test/chisel2.py example.letsencrypt.org elpmaxe.letsencrypt.org
